::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #a6a6a6;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bcbcbc;
}